@charset "utf-8";

@font-face {
	font-family:"Bauhaus";
	src: url("../font/Bauhaus/BauhausRegular.ttf");
}

@font-face {
	font-family:'Bauhaus 93';
	src: url("../font/Bauhaus93/Bauhaus 93 Regular.ttf");
}

body {
background-color:black;
}

#wrapper{
    margin: 0 auto;
    max-width: 1280px;
	background-color: white;
/*	border:2px solid #000000;*/
}

.nav-wrapper {
width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #004040;
}

.grad-bar {
  width: 100%;
  height: 13px;
  background: linear-gradient(-45deg, #FFC30B, #F2D600, #CCA42B, #FCD12A);
  background-size: 400% 400%;
  	-webkit-animation: gradbar 10s ease infinite;
	-moz-animation: gradbar 10s ease infinite;
	animation: gradbar 10s ease infinite;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items:center;
  height: 137px;
  overflow: hidden;
}

.navbar img {
    height: 90px;
    width: auto;
    margin-left: 23%;
}

.navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    ;/*	  justify-self: end;*/
    margin-right: 6%;
    margin-left: 23%;
}

.nav-item a {
	font-family: Bauhaus;
    color: #FFFFFF;
    font-size: 1.37em;
    text-decoration: none;
}

.nav-item a:hover {
  color: #FCD12A;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
    display: none;
    padding-left: 69%;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(18px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


/* Media Queries */

@media only screen and (max-width: 720px) { 
    
  /* MOBILE NAVIGATION */
     
  .navbar ul {
    display:flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 148px;
    background-color: #004040;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-201%); /*-101%*/
    text-align: left;
    overflow: hidden;
  }
  
  .navbar li {
    padding-top: 5%;
	 padding-bottom:5%;
  }
  
  .navbar li:first-child {
    margin-top: 10%;
  }
  
  .navbar li a {
    font-size: 1.2em;
	  font-family: Bauhaus;
  }
   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
    
}


/*titlesvg*/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 367.0179443359375px;
    stroke-dasharray: 367.0179443359375px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 367.0179443359375px;
    stroke-dasharray: 367.0179443359375px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both,
                       animate-svg-fill-1 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
          animation: animate-svg-stroke-1 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both,
               animate-svg-fill-1 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 290.1012268066406px;
    stroke-dasharray: 290.1012268066406px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 290.1012268066406px;
    stroke-dasharray: 290.1012268066406px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.12s both,
                       animate-svg-fill-2 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
          animation: animate-svg-stroke-2 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.12s both,
               animate-svg-fill-2 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 347.79095458984375px;
    stroke-dasharray: 347.79095458984375px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 347.79095458984375px;
    stroke-dasharray: 347.79095458984375px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.24s both,
                       animate-svg-fill-3 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
          animation: animate-svg-stroke-3 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.24s both,
               animate-svg-fill-3 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 349.6632080078125px;
    stroke-dasharray: 349.6632080078125px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 349.6632080078125px;
    stroke-dasharray: 349.6632080078125px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3599999999999999s both,
                       animate-svg-fill-4 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
          animation: animate-svg-stroke-4 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3599999999999999s both,
               animate-svg-fill-4 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 376.28369140625px;
    stroke-dasharray: 376.28369140625px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 376.28369140625px;
    stroke-dasharray: 376.28369140625px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.48s both,
                       animate-svg-fill-5 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s both;
          animation: animate-svg-stroke-5 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.48s both,
               animate-svg-fill-5 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 696.4889526367188px;
    stroke-dasharray: 696.4889526367188px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 696.4889526367188px;
    stroke-dasharray: 696.4889526367188px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both,
                       animate-svg-fill-6 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s both;
          animation: animate-svg-stroke-6 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both,
               animate-svg-fill-6 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 349.58721923828125px;
    stroke-dasharray: 349.58721923828125px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 349.58721923828125px;
    stroke-dasharray: 349.58721923828125px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.72s both,
                       animate-svg-fill-7 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s both;
          animation: animate-svg-stroke-7 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.72s both,
               animate-svg-fill-7 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 479.4208679199219px;
    stroke-dasharray: 479.4208679199219px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 479.4208679199219px;
    stroke-dasharray: 479.4208679199219px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-stroke-8 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8399999999999999s both,
                       animate-svg-fill-8 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s both;
          animation: animate-svg-stroke-8 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8399999999999999s both,
               animate-svg-fill-8 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 376.2106628417969px;
    stroke-dasharray: 376.2106628417969px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 376.2106628417969px;
    stroke-dasharray: 376.2106628417969px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-stroke-9 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.96s both,
                       animate-svg-fill-9 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s both;
          animation: animate-svg-stroke-9 0s cubic-bezier(0.47, 0, 0.745, 0.715) 1.96s both,
               animate-svg-fill-9 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 259.2600402832031px;
    stroke-dasharray: 259.2600402832031px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 259.2600402832031px;
    stroke-dasharray: 259.2600402832031px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-stroke-10 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.08s both,
                       animate-svg-fill-10 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9s both;
          animation: animate-svg-stroke-10 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.08s both,
               animate-svg-fill-10 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9s both;
}

@-webkit-keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 264.9508972167969px;
    stroke-dasharray: 264.9508972167969px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 264.9508972167969px;
    stroke-dasharray: 264.9508972167969px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-stroke-11 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both,
                       animate-svg-fill-11 0s cubic-bezier(0.47, 0, 0.745, 0.715) 3s both;
          animation: animate-svg-stroke-11 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both,
               animate-svg-fill-11 0s cubic-bezier(0.47, 0, 0.745, 0.715) 3s both;
}

@-webkit-keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 290.10260009765625px;
    stroke-dasharray: 290.10260009765625px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 290.10260009765625px;
    stroke-dasharray: 290.10260009765625px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-stroke-12 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.32s both,
                       animate-svg-fill-12 0s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s both;
          animation: animate-svg-stroke-12 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.32s both,
               animate-svg-fill-12 0s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s both;
}

@-webkit-keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 376.29736328125px;
    stroke-dasharray: 376.29736328125px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 376.29736328125px;
    stroke-dasharray: 376.29736328125px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

@keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 64, 64);
  }
}

.svg-elem-13 {
  -webkit-animation: animate-svg-stroke-13 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.44s both,
                       animate-svg-fill-13 0s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s both;
          animation: animate-svg-stroke-13 0s cubic-bezier(0.47, 0, 0.745, 0.715) 2.44s both,
               animate-svg-fill-13 0s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s both;
}


#vincetitle{
	width:40%;
	margin-left: 6%;
	margin-top:5%;
}

.masonry { /* Masonry container */
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin-top: 1.25em;
    margin-right: 4.5em;
    margin-left: 4.5em;
    padding: 1;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
}

.masonry p{
	font-size: 1.2em;
	font-family: Bauhaus;
}

.masonry img{
	align-content: center;
}

.item {
    display: inline-block;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
	-webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

#cuatro p, #cuatro h1{
color:#004040;
font-weight: bold;
}

#cuatro h1{
	font-size: 1.25em;
	font-family: Bauhaus;
	font-weight: bold;
	color:#004040;
	text-align: center;
}

#quinto p{
	background:#FCD12A;
	font-weight: bold;
	
}

#primero, #segundo{
    background: #004040;
    color: #FFFFFF;
    padding-top: 11%;
    padding-bottom: 11.3%;
}

#cuatro{
    background: #FCD12A;
    font-weight: bold;
    padding-bottom: 0px;
}

#quinto{
    background: #FCD12A;
    padding-top: 9%;
    padding-bottom: 8%;
}

#sexto{   
	padding-top:5%;
	padding-bottom: 11.5%;}






.item img{max-width:100%;}


@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


.cls-0,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7{fill:none;stroke:#066;stroke-miterlimit:10;}


.cls-4{stroke-width:7px;
      stroke-linejoin: round;
       stroke-linecap: round;
       stroke-dasharray: 2000;
       stroke-dashoffset: 2000;
        animation-name: updown;
         animation-duration: 5s;
        animation-iteration-count: infinite;
        }

        @keyframes updown {
            0%   { stroke-dashoffset: 2000; }
            50%   { stroke-dashoffset: 0; }
            100% { stroke-dashoffset: 2000; }
        }



.cls-0{
	stroke:#005A5A;
	stroke-width:3;
	 stroke-linejoin: round;
       stroke-linecap: round;
       stroke-dasharray: 6;
       stroke-dashoffset: 3;
        animation-name: updown2;
         animation-duration: 5s;
        animation-iteration-count: infinite;
        }

        @keyframes updown2 {
            0%   { stroke-dashoffset: 2; }
            50%   { stroke-dashoffset: 1; }
            100% { stroke-dashoffset: 2; }
        }


.cls-2{
	stroke:#D9B51C;
	stroke-width:0.5px;
	 -webkit-animation: animate-svg-stroke-7 5s linear 1.72s both;
          animation: animate-svg-stroke-7 5s linear 1.72s both;
	animation-iteration-count: infinite;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 702.9121704101562px;
    stroke-dasharray: 702.9121704101562px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 702.9121704101562px;
    stroke-dasharray: 702.9121704101562px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
	
            

.cls-3{stroke-width:2px;
  stroke-dasharray: 5;
	stroke-dashoffset:1;
stroke:#001A1A;}





.cls-5{stroke-width:0.25px;
fill:url(#img1);
}


.cls-6{stroke-width:1px; 
fill:url(#img2);
}


.cls-7{stroke-width:3px;
stroke-dasharray: 2;stroke:#006666}



footer{
	clear:both;
	font-family: Bauhaus;
	font-size: 1em;
	font-weight:bold;
	text-align: center;
	with:100%;
	color:#FFFFFF;
	background-color: #004040;
	padding-top:1%;
	padding-bottom:1%;
}

@media screen and (max-width:480px){
	
footer{
	font-size: 0.65em;
}
	
h1{
	font-size:1.25em;
}
p{
	font-size:0.75em;
	}
	
	.bttn-md{
display:none;
}
}

@media screen and (max-width:768px){

	
footer{
	font-size: 1em;
}
	
	
}


.bttn-md{
    color: #004040;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    cursor: pointer;
    position: relative;
    margin-top: 2%;
    text-align: center;
	width:100%;
}

.bttn-md h3{
	font-family: "Bauhaus";
    font-size: 1.3em;
    font-weight: bold;
}

.bttn-stretch {
    overflow: hidden;
    -webkit-transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-stretch:after,
.bttn-stretch:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  content: '';
  -webkit-transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.bttn-stretch:after {
  top: 0;
}
.bttn-stretch:before {
  bottom: 0;
}
.bttn-stretch:hover,
.bttn-stretch:focus {
  letter-spacing: 2px;
  opacity: 0.9;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-stretch:hover:after,
.bttn-stretch:focus:after {
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.bttn-stretch:hover:before,
.bttn-stretch:focus:before {
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}	
	

